/*Fonts*/
@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

body {
  max-width: 1440px;
  margin: auto;
}

h1 {  
  font-size: 6.625rem; /* 90px/16px  */
  text-shadow: 4px 4px 10px rgba(0,0,0, .9);
  padding-bottom: 5px;
  /*border-top: solid 1px white;*/
}

/*Hero Component*/
.hero-container {
  background: linear-gradient(0deg, black, transparent 40%),
              black url('../img/cycling6.jpg') no-repeat;
  background-size: cover;
  background-position: 30% 70%;
}

.hero-img {
  opacity: 0.0;
}

.hero-text {
  font-size: 2.225rem; /* 26px/16px */
  letter-spacing: .065em;
  font-weight: 200;
  text-shadow: 4px 4px 20px rgba(0,0,0, .99);
  font-family: "Abolition Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hero-text span {
  font-weight: 200;
  border-bottom: solid 3px white;
  margin-bottom: 1px;
}

/*Quote Component*/
.quote {
  font-size: 1.60rem; /* 20px/16px */
  color: #130f38; 
  border-bottom: solid 1px #130f38;
  border-top: solid 1px #130f38;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Oswald', sans-serif;
}

/*Main Content*/
.about, .learn-more {
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  font-family: 'Oswald', sans-serif;
  font-size: 1.45rem;
}

.about {
  background-color: #130f38;
}

.learn-more {
  background-color: #cf1b2d;
}

.btn {
  font-family: 'Oswald', sans-serif;
  font-size: 1.45rem;
  color: #130f38;
}

/*Carousel*/
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block !important;
}

#mycarousel {
  /*background: #130f38;*/
  background-color: #130f38;
}

/*Footer*/ 
.footer {
  background-color: #130f38;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  font-size: 1.325rem;
  max-width: 1440px;
}

/*Media Queries*/
@media (max-width: 576px) {
h1 {
  font-size: 3.625rem;
}
.hero-text {
  font-size: 1.125rem;
}
}

@media (max-width: 1126px) {
  .about, .learn-more {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .about-img {
    padding-right: 0;
    padding-left: 0;
  }
  .about, .learn-more {
    padding-left: 10%;
    padding-right: 10%;
    min-height: 300px;
  }
}

@media (min-width: 1281px) {
  .about, .learn-more {
    font-size: 1.65rem;
  }
}